// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 0.2rem;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.headerP {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 1rem;
  margin-top: 0.5rem;
  transition: 0.4s all;
  border-radius: 5px;
}

.headerP span {
  color: grey;
}

.headerP:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  padding: 1rem;
}

.logo {
  font-size: 1.6rem;
  margin: 0.6rem 0 0 0;
  padding: 0;
}

.logo a {
  color: black;
  text-decoration: none;
}

.navBar {
  margin-right: 2rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-size: 13px;
  color: #3d3d3d;
  text-decoration: none;
  font-weight: 500;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  border-radius: 5px;
  transition: 0.3s all;
}

.link:hover {
  background-color: rgb(240, 240, 240);
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.icon {
  font-size: 16px;
}

.pIcon1,
.pIcon2 {
  margin: 0.2rem 0.3rem 0 0.3rem;
  color: grey;
}

.pIcon1 {
  font-size: 5px;
}

.pIcon2 {
  font-size: 8px;
}

.filterBar {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  box-shadow: 10px 10px 10px solid black;
  position: fixed;
  margin-top: 3rem;
  z-index: 2;
  width: 100%;
}

.button {
  margin: 0.3rem;
  border-radius: 35px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  background-color: white;
  border: 1px solid rgb(117, 117, 117);
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
}

.filter {
  background-color: black;
  color: white;
}

.filter:hover {
  background-color: rgb(73, 73, 73);
}

.mainDiv {
  display: flex;
}

.propertiesDiv {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 6rem;
}

.property {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 0;
  height: 25rem;
  width: 27rem;
  transition: all 0.2s;
}

.property:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(136, 136, 136);
}

img {
  margin-top: 1rem;
  width: 25rem;
  height: 16rem;
  border-radius: 5px;
}

.propDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 92%;
  color: rgb(56, 56, 56) ;
}

.propDetails p {
  font-size: 12px;
  margin: 0;
}

.propLocation h2 {
  font-size: 13px;
  margin: 10px 0 0 0;
}

.propLocation p {
  font-size: 12px;
  margin: 10px 0 0 0;
}

.propBedrooms p {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

.propCost p {
  color: black;
  font-weight: bold;
}

.propCost p span {
  color: grey;
  font-weight: 500;
}

.availability {
  position: absolute;
  bottom: 1.2rem;
  right: 0.8rem;
  background-color: rgb(182, 182, 182);
  padding: 0.2rem;
  border-radius: 35px;
  font-weight: 500;
  color: black;
}

.availability span {
  font-weight: 100;
  color: rgb(85, 85, 85);
}

.imgDiv {
  position: relative;
}

.id {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-size: 10px;
  background-color: white;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 35px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(61, 61, 61, 0.842);
  border-radius: 5px;
  width: 4rem;
  height: 1.3rem;
}

.carousel i {
  color: rgba(148, 148, 148, 0.432);
  font-size: 8px;
  margin: 0.3rem;
}

.carousel .activeIcon {
  color: white;
  font-size: 12px;
}

.googleMap {
  height: 40rem;
  width: 36.8rem;
  border: 1px solid red;
  position: fixed;
  right: 0;
  margin-top: 6.3rem;
}

.google {
  width: 100%;
  height: 100%;
}